.sonya {
  position: absolute;
  right: -8.5rem;
  bottom: 0;

  @media (min-width: $stop-scaling) {
    right: -85px;
  }

  &::before {
    content: "";
    display: flex;
    width: 32.7rem;
    height: 36.9rem;
    background-image: url("../img/sonya.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include retina {
      background-image: url("../img/sonya@2x.png");
    }

    @media (min-width: $stop-scaling) {
      width: 327px;
      height: 369px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      opacity: 0;
    }
  }
}
